AnchorPane{
    -fx-padding:2;
    -fx-alignment:center;
    -fx-spacing:5;
    -fx-border-width:1;
    -fx-border-color:#DDDDDD;
    -fx-border-radius:4;
    -fx-background-radius:4;
}

Label{
    -fx-font-weight: bold;
    -fx-font-size: 12;
}